<th:block th:fragment="footer">
  <footer class="site-footer" id="siteFooter">
    <meting-js
      th:if="${not #strings.isEmpty(theme.config.other.Aplayer)}"
      server="netease"
      type="playlist"
      fixed="true"
      th:id="${theme.config.other.Aplayer}"
    >
    </meting-js>

    <div class="inner">
      <div class="offsite-links">
        <a
          th:if="not ${#strings.isEmpty(theme.config.social.sina)}"
          th:href="${theme.config.social.sina}"
          class="circle"
          target="_blank"
          rel="noopener"
        >
          <i class="iconify w-4 h-4" data-icon="ri:weibo-fill"></i>
        </a>
        <a
          th:if="not ${#strings.isEmpty(theme.config.social.qq)}"
          th:href="@{//wpa.qq.com/msgrd?v=3&uin={uin}&site=qq&menu=yes(uin=${theme.config.social.qq})}"
          class="circle"
          target="_blank"
          rel="noopener"
          title="QQ Chat"
        >
          <i class="iconify w-4 h-4" data-icon="ri:qq-line"></i>
        </a>
        <a
          th:if="not ${#strings.isEmpty(theme.config.social.telegram)}"
          th:href="@{https://t.me/{id}(id=${theme.config.social?.telegram})}"
          class="circle"
          target="_blank"
          rel="noopener"
          title="Telegram Chat"
        >
          <i class="iconify w-4 h-4" data-icon="ri:telegram-fill"></i>
        </a>
        <a
          th:if="not ${#strings.isEmpty(theme.config.social.twitter)}"
          th:href="${theme.config.social.twitter}"
          class="circle"
          target="_blank"
          rel="noopener"
          title="Twitter"
        >
          <i class="iconify w-4 h-4" data-icon="ri:twitter-fill"></i>
        </a>
        <a
          th:if="${not #strings.isEmpty(theme.config.social.github)}"
          th:href="${theme.config.social.github}"
          class="circle"
          target="_blank"
          rel="noopener"
          title="Github"
        >
          <i class="iconify w-4 h-4" data-icon="ri:github-fill"></i>
        </a>
        <a
          th:if="${not #strings.isEmpty(theme.config.social.zhihu)}"
          th:href="${theme.config.social.zhihu}"
          class="circle"
          target="_blank"
          rel="noopener"
          title="知乎"
        >
          <i class="iconify w-4 h-4" data-icon="ri:zhihu-line"></i>
        </a>
        <a
          th:href="@{mailto:{email}(email=${theme.config.social?.mail})}"
          class="circle"
          target="_blank"
          rel="noopener"
          title="邮箱"
        >
          <i class="iconify w-4 h-4" data-icon="ri:mail-line"></i>
        </a>
        <a
          th:if="${theme.config.social.rss}"
          href="/rss.xml"
          class="circle"
          target="_blank"
          rel="noopener"
          title="RSS"
        >
          <i class="iconify w-4 h-4" data-icon="ri:rss-line"></i>
        </a>
      </div>

      <div class="site-info">
        <a
          th:if="not ${#strings.isEmpty(theme.config.general.Icp)}"
          href="http://beian.miit.gov.cn"
          target="_blank"
          th:text="${theme.config.general.Icp}"
        ></a
        ><br />
        <div
          th:if="not ${#strings.isEmpty(theme.config.general.PublicSecurityRecord)}"
          style="
            display: inline-block;
            background-repeat: no-repeat;
            background-position: top left;
            background-size: contain;
            padding-left: 20px;
          "
          th:styleappend="'background-image: url('+${#theme.assets('/images/beian.png')}+')'"
        >
          <a
            href="http://www.beian.gov.cn"
            target="_blank"
            th:text="${theme.config.general.PublicSecurityRecord}"
          ></a>
        </div>
        <br />
        <halo:footer />
        <p>
          Copyright &copy; ${.now?string('yyyy')}
          <a th:text="${site.title}"></a>
        </p>
        <!-- 请尊重作者，请务必保留版权 -->
        <p>
          Powered by <a target="_blank" href="http://halo.run">Halo</a> • Theme
          by
          <a
            target="_blank"
            href="https://github.com/GalaxySuze/gridea-theme-subtle-galaxy"
            >Subtle Galaxy</a
          >
          • REFERENCE FROM
          <a href="https://github.com/hshanx/halo-theme-hshan.git">寒山</a>
        </p>
        <p th:if="${theme.config.other?.TimeStatistics}">
          本站运行：<span id="span_dt_dt"></span>
        </p>
      </div>
      <a href="#page" class="arrow-up" data-scroll>
        <span class="screen-reader-text">Back to the top</span>
      </a>
    </div>
  </footer>
  <!-- <#include "search-box.ftl"/> -->
</th:block>
