<th:block th:fragment="header">
  <aside
    class="sidebar side-bar-val"
    id="sidebar"
    style="overflow-y: auto !important"
  >
    <div class="inner">
      <div class="widget-area">
        <!-- 菜单 -->
        <nav class="site-navigation">
          <ul class="menu">
            <li
              th:each="menuItem : ${menuFinder.getDefault().menuItems}"
              class="menu-item nav-menu-item"
            >
              <a
                th:if="${#lists.isEmpty(menuItem.children)}"
                href="javascript:void(0)"
                class="nav-menu-link"
              >
                <th:block th:text="${menuItem.status.displayName}"></th:block>
                <i
                  class="fa fa-angle-down nav-menu-angle"
                  aria-hidden="true"
                ></i>
              </a>
              <a
                th:unless="${#lists.isEmpty(menuItem.children)}"
                th:href="${menuItem.status.href}"
                th:text="${menuItem.status.displayName}"
              ></a>
              <ul
                th:unless="${#lists.isEmpty(menuItem.children)}"
                class="nav-sub-menu"
                style="display: none"
              >
                <li th:each="child : ${menuItem.children}">
                  <a
                    th:href="${child.status.href}"
                    onfocus="this.blur();"
                    th:text="${child.status.displayName}"
                  ></a>
                </li>
              </ul>
            </li>
            <li
              th:if="${theme.config.general.night_mode}"
              class="menu-item home nav-menu-item"
            >
              <i
                class="fa night-mode"
                id="nightModeSmall"
                aria-hidden="true"
              ></i>
            </li>
            <li
              th:if="${theme.config.general.top_search}"
              class="menu-item home nav-menu-item"
            >
              <i
                class="fa fa-search js-toggle-search iconsearch"
                aria-hidden="true"
                style="font-size: 20px"
              ></i>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </aside>

  <header class="site-header" id="siteHeader">
    <div id="scrollMenu" class="scroll-menu header-inner">
      <div class="menu-items">
        <ul>
          <li
            th:if="not ${#strings.isEmpty(theme.config.general.header_logoimg)}"
          >
            <a
              href="/"
              id="headerLogo"
              style="
                margin-right: 0;
                display: inline-block;
                height: 100%;
                line-height: 52px;
              "
              onfocus="this.blur();"
            >
              <img
                th:src="${theme.config.general.header_logoimg}"
                th:alt="${site.title}"
                th:style="'height:' + ${theme.config.general.header_logo_height}"
              />
            </a>
          </li>
          <li
            th:each="menuItem : ${menuFinder.getDefault().menuItems}"
            class="menu-scroll-item"
          >
            <a
              th:if="${not #lists.isEmpty(menuItem.children)}"
              href="javascript:void(0)"
              onfocus="this.blur();"
              th:text="${menuItem.status.displayName}"
            ></a>
            <a
              th:unless="${not #lists.isEmpty(menuItem.children)}"
              th:href="${menuItem.status.href}"
              th:text="${menuItem.status.displayName}"
            ></a>
            <ul
              th:unless="${#lists.isEmpty(menuItem.children)}"
              class="sub-menu"
            >
              <li th:each="child : ${menuItem.children}">
                <a
                  th:href="${child.status.href}"
                  onfocus="this.blur();"
                  th:text="${child.status.displayName}"
                >
                  ${child.name}
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="other-ctl" id="headerCtrl">
        <i
          th:if="${theme.config.general.top_search}"
          class="fa fa-search js-toggle-search iconsearch"
          aria-hidden="true"
        ></i>
        <i
          th:if="${theme.config.general.night_mode}"
          class="fa night-mode"
          id="nightMode"
          aria-hidden="true"
        ></i>
      </div>
    </div>
    <a class="sidebar-toggle" id="sidebarToggle">
      <span class="icon-menu cross">
        <span class="middle" aria-hidden="true"> </span>
      </span>
    </a>
  </header>
</th:block>
