<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="module/layout :: html(~{::content},~{::head})"
>
<th:block th:fragment="head">
    </th:block>

    <th:block th:fragment="content">
        <div id="page" class="site">
            <main class="site-main" id="main">
                <div class="site-content post-page">
                    <header class="bg-cover page-header">
                        <#if sheet.thumbnail?? && sheet.thumbnail!=''>
                            <div class="cover-bg">
                                <img src="${sheet.thumbnail!}" alt="${sheet.title!}">
                            </div>
                        <#else>
                            <div class="default-cover-bg">
                            </div>
                        </#if>
                        <div class="cover-content">
                            <div class="inner">
                                <div class="post-count"></div>
                                <h1 class="page-title" style="font-size: 46px;" th:text="${singlePage.spec.title}"></h1>
                            </div>
                        </div>
                    </header>
                    <div class="sheet-content" th:utext="${singlePage.content.content}">
                    </div>
                </div>
                <#include "module/comment.ftl">
                <#if is_post??>
                    <@comment post,"post" />
                <#elseif is_sheet??>
                    <@comment sheet,"sheet" />
                </#if>
            </main>
        </div>
        </th:block>
</html>