<div th:fragment="random_card" class="post-container" data-aos="fade-up">
  <div
    class="content-wrapper articles"
    id="post-list"
    th:styleappend="${#lists.size(postItems)} lt 3 ? 'justify-content: space-around; !important;': ''"
  >
    <article
      th:each="post,iterStat : ${postItems}"
      class="post-item grid-32 grid-48 mobile-grid-100 post card postItem mrg-bottom-90 card-item-vel"
    >
      <div class="article-wrapper card-shadow">
        <header>
          <div class="post-format-image post-format-wrapper">
            <div class="featured-image">
              <a
                th:if="not ${#strings.isEmpty(post.spec.cover)}"
                th:href="${post.status.permalink}"
                style="
                  background-repeat: no-repeat !important;
                  background-position: center center !important;
                  background-size: cover !important;
                "
                th:styleappend="background-image: url(${post.spec.cover});"
                class="thumb hover-effect"
              >
                <span
                  class="fullimage cover"
                  role="img"
                  aria-label=""
                  th:style="background-image: url(${${post.spec.cover});"
                ></span>
              </a>
              <!-- <#elseif settings.card_random_cover!false>
                                        <a   href="${post.fullPath!}" class="thumb hover-effect">
                                            <#assign x = "${settings.card_random_cover_img_num?number}" />
                                            <#assign thumbnailIndex ="${post_index % (x?number)}"/>
                                                 <span class="fullimage cover" role="img" aria-label=""
                                                       style="background-image: url(${blog_url!}/thumbnail/thumbnail-${thumbnailIndex?number?abs}.${settings.card_random_cover_img_suffix});"></span>
                                            </a>
                                    <#else>
                                        -->
              <a
                th:unless="${not #strings.isEmpty(post.spec.cover)} or ${not #strings.isEmpty(theme.config.general.card_random_cover)}"
                th:href="${post.status.permalink}"
                class="thumb hover-effect"
              >
                <span
                  class="fullimage default-cover-bg"
                  role="img"
                  aria-label=""
                ></span>
              </a>
              <div th:if="${#lists.size(post.tags)} gt 0" class="tags absolute">
                <a
                  th:href="${post.tags[0].status.permalink}"
                  th:text="${post.tags[0].spec.displayName}"
                  class="ctag ctag-6 ctag-gridea"
                >
                </a>
              </div>
            </div>
          </div>
          <div class="meta">
            <time
              th:attr="datetime=${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"
            >
              <i class="fa fa-pencil"></i>
              <span
                class="lately"
                th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"
              ></span>
            </time>
          </div>

          <h1 class="title main-title gradient-effect">
            <a
              th:href="${post.status.permalink}"
              th:text="${post.spec.title}"
            ></a>
          </h1>
        </header>

        <div
          th:if="not ${#strings.isEmpty(post.status.excerpt)}"
          th:text="${post.status.excerpt}"
          class="post-excerpt"
        ></div>

        <footer class="author-meta">
          <a href="" class="author" title="">
            <span
              class="author-image cover"
              style="background-image: url(${user.avatar!})"
            ></span>
            <span class="author-name">${user.nickname!}</span>
          </a>
          <div>
            <span class="visitors-count">
              ${post.visits!} <i class="fa fa-fire"></i>
            </span>
            <span class="visitors-comment" style="margin-left: 10px">
              ${post.commentCount} <i class="fa fa-comment-o"></i>
            </span>
          </div>
        </footer>
      </div>
    </article>
  </div>
</div>
