<div th:fragment="simple" id="post-list" class="post-list inner">
  <article
    th:each="post,iterStat : ${postItems}"
    class="post-item postItem post-item-simple card-item-vel"
  >
    <div class="padding-left">
      <h2 class="post-item-title">
        <a
          th:href="${post.status.permalink}"
          data-ajax
          th:text="${post.spec.title}"
        >
          <span th:if="${post.spec.pinned}">🔥</span>
        </a>
      </h2>
      <p
        class="post-item-summary"
        th:if="not ${#strings.isEmpty(post.status.excerpt)}"
        th:text="${post.status.excerpt}"
      ></p>
      <p class="post-item-info">
        <time
          class="published"
          th:attr="datetime=${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"
          th:text="${'发布于 · '+#dates.format(post.spec.publishTime,'yyyy-MM-dd')+' ·'}"
        >
        </time>
        <span class="post-item-tags">
          <a
            th:each="tag : ${post.tags}"
            th:href="@{tag.status.permalink}"
            th:text="${tag.spec.displayName + '&nbsp;&nbsp;'}"
            data-ajax
          ></a>
        </span>
      </p>
    </div>

    <a
      th:if="not ${#strings.isEmpty(post.spec.cover)}"
      href="${post.fullPath!}"
      data-ajax
      class="post-feature-image"
      th:style="background-image: url(${post.spec.cover})"
    >
    </a>
  </article>
</div>
