<div th:fragment="standard" id="post-list" class="post-list inner">
  <article
    th:each="post,iterStat : ${postItems}"
    class="post postItem card-item-vel post-standard-block"
  >
    <!-- post-header -->
    <header class="post-header">
      <div class="post-tags">
        <a
          th:each="tag : ${post.tags}"
          th:href="@{tag.status.permalink}"
          th:text="${tag.spec.displayName + '&nbsp;&nbsp;'}"
        ></a>
      </div>
      <div class="post-header-wrap">
        <h2 class="post-title">
          <a
            th:href="${post.status.permalink}"
            th:text="${post.spec.title}"
          ></a>
        </h2>
        <div class="post-meta">
          <span class="post-author"
            ><i class="fa fa-eye"></i
            ><th:block th:text="${post.stats.visit}" /> 次访问</span
          >
          <span th:if="${post.spec.pinned}" class="tag tag-primary"
            >已置顶</span
          >
          <time
            class="published"
            th:attr="datetime=${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"
            th:text="${#dates.format(post.spec.publishTime,'yyyy-MM-dd')}"
          >
          </time>
          <p
            th:if="not ${#strings.isEmpty(post.status.excerpt)}"
            th:text="${post.status.excerpt}"
            class="post-item-summary"
          ></p>
        </div>
      </div>
    </header>
    <!-- post-content -->
    <div class="post-content">
      <div class="read-more">
        <a class="button" th:href="${post.status.permalink}">
          Read More
          <span aria-hidden="true"></span>
          <span class="line left"></span>
          <span class="line top"></span>
          <span class="line right"></span>
          <span class="line bottom"></span>
        </a>
      </div>
    </div>
  </article>
</div>
